 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins', sans-serif;
 }

 body {

     color: #333;
     line-height: 1.5;
     background-color: #fffafc;
     overflow-x: hidden;

 }

 header {

     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 70px;
     border-bottom: 2px solid;
     box-shadow: 0 2px 5px;
     background: linear-gradient(to right, #e9d5ff, #f3e8ff);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;


 }

 .logo h1 {
     letter-spacing: 1px;
     font-size: 28px;
     /* color: #ff7aa2; */
     background: linear-gradient(to right, #ff7aa2, #d8b4fe);
     background-clip: text;
     color: transparent;
 }

 .logo p {
     font-size: 13px;
     margin-top: -14px;
     color: #777;
 }

 nav ul {
     list-style: none;
     gap: 25px;
     display: flex;
 }

 nav ul li a {
     text-decoration: none;
     color: #444;
     font-weight: 500;
     /* transition: 0.3s ease; */
 }

 nav ul li a:hover {
     color: #ff6f91;
     border-bottom: 2px solid;
     padding-bottom: 3px;


 }

 .icons {
     display: flex;
     align-items: center;
     gap: 20px;
     font-size: 20px;
     color: #ff7aa2;
     margin-right: 40px;
 }

 .icons i {
     cursor: pointer;
     transition: 0.3s;
 }

 .icons i:hover {
     color: #d8b4fe;
     transform: scale(1.1);
 }

 .hero {
     background: url(./images/lavender.jpg) center/cover no-repeat;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-blend-mode: multiply;
     color: #fff;
     padding-top: 80PXBB;
 }

 .hero-text h2 {
     font-size: 42px;
     margin-bottom: 6px;
     font-weight: 600;
 }

 .hero text p {
     font-size: 18px;
     margin-bottom: 2opx;
 }

 .btn {
     display: inline-block;
     color: white;
     background-color: #ff7aa2;
     padding: 10px 25px;
     border-radius: 25px;
     text-decoration: none;
     font-weight: 500;
     transition: 0.3s;
 }

 .btn:hover {
     background-color: #ff558a;
 }

 .about {
     max-width: 900px;
     margin: 80px auto;
     text-align: center;
     padding: 0 20px;
 }

 .about h2 {
     color: #ff6f91;
     font-size: 32px;
     margin-bottom: 20px;
 }

 .about p {
     font-size: 16px;
     color: #555;
     margin-bottom: 15px;
 }

 .products {
     text-align: center;
     padding: 60px 40px;
     background: #fff5f8;
 }

 .products h1 {
     font-size: 34px;
     /* color: #ff6f91; */
     margin-bottom: 10px;
     background: linear-gradient(to right, #ff7aa2, #d8b4fe);
     background-clip: text;
     color: transparent;
 }

 .products h1 {
     color: #ff6f91;
     font-size: 34px;
     margin-bottom: 10px;
 }

 .product .tagline {
     margin-bottom: 40px;
     color: #777;
     font-size: 16px;
 }

 .product-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 15px;
     justify-content: center;
     /* margin-right: 5px; */

 }

 .product-card {
     background: #fff;
     border-radius: 15px;
     box-shadow: 0 2px 4px;
     padding: 18px;
     transition: 0.3s ease;
     max-width: 330px;
     overflow: hidden;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;


 }

 .product-card img {
     width: 100%;
     height: 320px;
     object-fit: cover;
     border-radius: 28px;
     margin-bottom: 22px;
     border-bottom: 2px solid #ffe1eb;
 }

 .product-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 4px 10px rgba(255, 128, 160, 0.2);
 }

 .product-card h3 {
     font-size: 18px;
     color: #444;
 }

 .product-card p {
     color: #888;
     margin: 5px 0 10px;
 }

 .product-card button {
     background-color: #ff7aa2;
     color: #fff;
     border: none;
     padding: 8px 15px;
     border-radius: 20px;
     cursor: pointer;
     font-weight: 500;
     transition: 0.3s;
 }

 .product-card button:hover {
     background-color: #ff558a;
 }

 .blog {
     padding: 60px 40px;
     text-align: center;
 }

 .blog h2 {
     color: #ff6f91;
     font-size: 32px;
     margin-bottom: 35px;
 }

 .blog-container {
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
     display: grid;
     gap: 25px;
     max-width: 1000px;
     margin: 0 auto;
 }

 .blog-card {
     background-color: #fff5f8;
     padding: 25px;
     border-radius: 10px;
     box-shadow: 0 2px 8px;
     text-align: left;
     transition: 0.3s ease;
 }

 .blog-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 4px 10px;
 }

 .blog-card h3 {
     color: #4f4141;
     font-size: 20px;
     margin-bottom: 10px;
 }

 .blog-card p {
     color: #666;
     font-size: 15px;
     margin-bottom: 10px;
 }

 .btn-read {
     color: #ff6f91;
     font-weight: 500;
     text-decoration: none;
     border-bottom: 1px solid transparent;
     transition: 0.3s ease;
 }

 .btn-read:hover {
     border-bottom: 1px solid #ff6f91;
 }

 .contact {
     text-align: center;
     padding: 60px 40px;
     background-color: #fff5f8;
 }

 .contact h2 {
     color: #ff6f91;
     font-size: 30px;
     margin-bottom: 10px;
 }

 .contact p {
     color: #555;
     margin-bottom: 30px;
 }

 .contact-info {
     margin-bottom: 25px;
     color: #666;
 }

 .contact-form {
     max-width: 600px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .contact-form label {
     text-align: left;
     font-weight: 500;
     color: #444;
 }

 .contact-form input,
 .contact-form textarea {
     padding: 10px 15px;
     border: 1.5px solid #f5b6c6;
     border-radius: 8px;
     outline: none;
     font-size: 15px;
     background-color: #fff;
     transition: 0.3s;
     resize: none;
 }

 .contact-form input:focus,
 .contact-form textarea:focus {
     border-color: #ff7aa2;
     box-shadow: 0 0 5px;
 }

 .btn-send {
     
     color: #fff;
     padding: 10PX;
     border: none;
     border-radius: 25PX;
     cursor: pointer;
     font-size: 16px;
     font-weight: 500;
     transition: 0.3s;
    background-color: #ff558a;


 }

 .btn-send:hover {
     color: #ff558a;
     border: 1px #ff7aa2 solid;
     background: transparent;


 }

 footer {
     background-color: #ffe6ec;
     text-align: center;
     padding: 38px 0;
     color: #555;
     font-size: 14PX;
     margin-top: 60PX;
     border-top: 1px solid #f8d1de;


 }
@media (max-width: 768px) {

    header {
        padding: 15px 20px;
    }

    .logo h1 {
        font-size: 24px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero {
        height: 60vh;
        padding: 20px;
    }

    .hero-text h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .hero-text p {
        font-size: 15px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-card {
        max-width: 100%;
        margin: 0 auto;

    }

    .blog-container {
        grid-template-columns: 1fr;
    }

    .about h2, 
    .products h1, 
    .blog h2, 
    .contact h2 {
        font-size: 26px;
    }

    .about p,
    .blog p,
    .contact p {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
        padding: 25px 0;
    }
}
   .home-about{
     text-align: center;
    padding: 70px 40px;
    background: #fff5f8;
    max-width: 900px;
    margin: 60px auto;
    border-radius: 15px;
    box-shadow: 0 2px 10px
   }
   .home-about h2{
     color: #ff6f91;
    font-size: 30px;
    margin-bottom: 15px;
   }
   .home-about p{
    color: #555;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
   }
   .home-products h2{
     color: #ff6f91;
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
   }
   .product-container{
     display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    max-width: 1100px;
    margin: 40px auto;
    width: 100%;
    flex-wrap: wrap;
   }
   .product-card h2{
    text-align: center;
    color: #ff6f91;
    margin-bottom: 35px;
    font-size: 32px;
   }
   .product-container .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px 
   }
   .product-container .product-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    flex: block;
   }
   .product-container .product-card{
    background: #fff;
     border-radius: 15px;
     box-shadow: 0 2px 4px;
     padding: 18px;
     transition: 0.3s ease;
     max-width: 330px;
     overflow: hidden;
     margin-right: 18px;
   }

   .product-container .product-card h3 {
    font-size: 18px;
    color: #444;
    margin-bottom: 5px;
}
.product-container .product-card p {
    color: #777;
    font-size: 15px;
}
.home-blog- {
    text-align: center;
    padding: 70px 40px;
    background: linear-gradient(to right, #f3e8ff, #fff5f8);
}

.home-blog- h2 {
    color: #ff6f91;
    font-size: 32px;
    margin-bottom: 25px;
}

.Blog-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 0 auto 30px;
}

.Blog-preview article {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    text-align: left;
}

.Blog-preview article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(255, 122, 162, 0.2);
}

.Blog-preview h3 {
    color: #4f4141;
    font-size: 18px;
    margin-bottom: 8px;
}

.Blog-preview p {
    color: #666;
    font-size: 15px;
}

#shop {
    display: inline-block;
    background-color: #ff7aa2;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

#shop:hover {
    background-color: #ff558a;
    text-decoration: none;
    color: white;
}

   

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar i.active,
.navbar-light .navbar-nav .nav-link.active {
    color: #ff7aa2;

}

#navbarSupportedContent > ul > li:nth-child(1) > a:hover{
        color: #ff7aa2;
}
#navbarSupportedContent > ul > li:nth-child(2) > a:hover{
        color: #ff7aa2;

}
#navbarSupportedContent > ul > li:nth-child(3) > a:hover{
        color: #ff7aa2;

}
#navbarSupportedContent > ul > li:nth-child(4) > a:hover{
        color: #ff7aa2;

}
#navbarSupportedContent > ul > li:nth-child(5) > a:hover{
        color: #ff7aa2;

}